@charset "UTF-8";
:root { --colbk: #323232; font-family: "Lucida Console","monospace"; }

a { color: #323232; }

body { background-color: #D9D9D9; font-family: "Lucida Console","monospace"; color: #323232; }

main { margin-top: 150px; text-align: center; }

footer { text-align: center; }

.youtube-full { width: 100%; aspect-ratio: 16 / 9; margin: 0 auto; }

.youtube-full iframe { width: 100%; height: 100%; border-radius: 15px; }

.snslogo { width: 50px; }

.icon { width: 150px; display: inline-block; margin: 0,auto; }

.snsicons { width: 700px; text-align: center; margin: 0,auto; display: inline-block; }

/* -------------------- */
/* ▼メニューバーの装飾 */
/* -------------------- */
nav { width: 100%; height: 50px; position: relative; background: #D9D9D9; }

.drawer { display: flex; flex-direction: row; align-items: center; justify-content: space-between; position: relative; height: 50px; padding: 0 1em; }

.ddtgl { position: absolute; top: 0; right: 0; width: 49px; min-height: 49px; background: var(--colbk); }
.ddtgl::before, .ddtgl::after { content: ""; position: absolute; top: 0; right: 0; bottom: 0; left: 0; display: block; margin: auto; background: #fff; transition: .2s ease; }
.ddtgl::before { width: 15px; height: 1px; }
.ddtgl::after { width: 1px; height: 15px; }
.ddtgl.active::before { opacity: 0; transform: rotate(90deg); }
.ddtgl.active::after { transform: rotate(90deg); }

ul.hdrdd { display: none; }
ul.hdrdd.active { display: block; }
ul.hdrdd.hovered { display: block; }
ul.hdrdd li { background-color: #D9D9D9; color: #323232; min-height: 49px; display: flex; align-items: center; }
ul.hdrdd li a { display: block; padding-left: 50px; border-bottom: 2px; text-decoration: none; }

li.menu__item { position: relative; background-color: #D9D9D9; color: #323232; align-items: center; }
li.menu__item div { display: flex; min-height: 49px; align-items: center; }
li.menu__item div a { display: block; padding-left: 25px; border-bottom: 2px; text-decoration: none; }
li.menu__item.active { background-color: #323232; }
li.menu__item.active a { color: #D9D9D9; }

.ddmenu { list-style: none; text-align: left; background-color: #323232; transition: 0.5s ease; /*滑らかに表示*/ -webkit-transform: translateX(100%); /*画面より100%外へ押し出し非表示にさせる*/ display: none; /*  transform: translateX(-100%);/*右から出す場合は、マイナス100%としてください*/ }

/*OPEN時の動き*/
.ddmenu.active { display: inline; -webkit-transform: translateX(0%); transform: translateX(0%); /*メニューを元の位置へ戻す*/ }

/*トグルボタンのスタイルを指定*/
.Toggle { display: block; position: fixed; /* bodyに対しての絶対位置指定 */ width: 42px; height: 42px; cursor: pointer; z-index: 3; right: 15px; }

.Toggle span { display: block; position: absolute; width: 50px; border-bottom: solid 4px #333; -webkit-transition: .35s ease-in-out; /*変化の速度を指定*/ -moz-transition: .35s ease-in-out; /*変化の速度を指定*/ transition: .35s ease-in-out; /*変化の速度を指定*/ }

/*各ボーダー少しずつずらす*/
.Toggle span:nth-child(1) { top: 5px; }

.Toggle span:nth-child(2) { top: 18px; }

.Toggle span:nth-child(3) { top: 32px; }

.Toggle.active span:nth-child(1) { top: 18px; /* 1番目のspanをマイナス45度に */ -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); transform: rotate(-45deg); }

/* 2番目と3番目のspanを45度に */
.Toggle.active span:nth-child(2), .Toggle.active span:nth-child(3) { top: 18px; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); transform: rotate(45deg); }

/*----------------------------------ここからPCモニターの記述-----------*/
@media screen and (min-width: 600px) { .c1 { width: 60%; margin: 0 auto; }
  header { margin-top: 50px; height: auto; background-color: #D9D9D9; display: flex; align-items: center; justify-content: space-between; }
  /*ロゴの大きさを調整*/
  .headerlogo { width: 200px; margin-top: auto; margin-bottom: auto; margin-left: 50px; margin-right: auto; }
  nav { display: flex; align-items: center; justify-content: space-between; }
  .Toggle { display: none; }
  .ddtgl { display: none; }
  .ddmenu { display: flex; text-align: center; margin: 0px; /* メニューバー外側の余白(ゼロ) */ padding-right: 15px; /* メニューバー内側の余白(左に15px) */ list-style: none; background-color: #D9D9D9; /*border-bottom: 2px solid #323232;*/ -webkit-transform: translateX(0); transform: translateX(0); }
  li.menu__item { width: 125px; display: inline-block; /* ★1:横並びに配置する */ /* ★3:サブメニュー表示の基準位置にする */ background-color: #D9D9D9; color: #323232; }
  li.menu__item div a { margin: 0 auto; padding: 0; }
  li.menu__item :hover { background-color: #323232; }
  li.menu__item :hover a { color: #D9D9D9; }
  ul.hdrdd { display: none; /* ★1:標準では非表示にする */ margin: 0px; /* ★2:サブメニュー外側の余白(ゼロ) */ padding: 0px; /* ★3:サブメニュー内側の余白(ゼロ) */ position: absolute; /* ★4:絶対配置にする */ }
  ul.hdrdd li { z-index: 999; width: 125px; border-top: 2px solid #D9D9D9; background-color: rgba(0, 0, 0, 0.5); }
  ul.hdrdd li a { margin: 0 auto; padding: 0; color: #D9D9D9; }
  ul.hdrdd li a :hover { color: #D9D9D9; /* サブメニュー項目にマウスが載ったときの文字色 */ }
  ul.hdrdd li :hover { background-color: #323232; }
  ul.hdrdd.active { display: block; } }
